{% sw_extends '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}

{% block layout_header_actions_currency_widget_dropdown_toggle %}
	<button class="btn top-bar-nav-btn" type="button" id="currenciesDropdown-{{ position }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{% block layout_header_actions_currency_widget_dropdown_toggle_name %}
			{{ page.header.activeCurrency.symbol }}
			<span class="top-bar-nav-text">{{ page.header.activeCurrency.translated.name }}</span>
            <img src="{{ asset('bundles/alvitheme/arrowdown.svg', 'asset') }}">
		{% endblock %}
	</button>
{% endblock %}
